{% extends 'base.html.twig' %}

{% block title %}Hello SoustractionController!{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>
            {# <h2>Hello {{ resulta }}! ✅</h2> #}
<h1>Product List</h1>

    <ul>
        {% for produit in produits %}
            <li>
                <strong>{{ produit.nom }}</strong>: {{ produit.prix }} €
                <p>{{ produit.remarque }}</p>
                {% if produit.en_stock %}
                    <span style="color: green;">In Stock</span>
                {% else %}
                    <span style="color: red;">Out of Stock</span>
                {% endif %}
            </li>
        {% endfor %}
    </ul>


    
</div>
{% endblock %}
